<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/ASUS/Spotify/src/test/java/org/example/UITest.java">
        <classes>
            <class name="org.example.InvalidCredentials">
                <methods>
                    <include name="emptyCredentials"/>
                </methods>
            </class>
        </classes>
    </test>
    <test verbose="2" preserve-order="true"
          name="C:/Users/ASUS/Spotify/src/test/java/org/example/InvalidCredentials.java">
        <classes>
            <class name="org.example.UITest">
                <methods>
                    <include name="UITest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>